.u-section-1 {
  background-image: none;
  min-height: 1278px;
}

.u-section-1 .u-shape-1 {
  height: 411px;
  width: 1300px;
  margin: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 863px;
  margin: -351px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-1 {
  background-image: url("images/fddff.jpg");
  background-position: 50% 50%;
  min-height: 622px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 161px;
}

.u-section-1 .u-container-layout-2 {
  padding: 54px 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1140px;
  margin: 9px auto 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 273px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 273px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1rem;
  text-transform: none;
  margin: 9px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  margin: 30px 25px 0 0;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1141px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 242px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 212px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 941px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 519px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-shape-1 {
    height: 347px;
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 389px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 202px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1081px;
  }

  .u-section-1 .u-shape-1 {
    height: 259px;
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 245px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 767px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 762px;
  font-weight: 800;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 341px;
  grid-gap: 15px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 34px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: normal;
  margin: 26px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 22px auto 60px;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 646px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 813px;
}

.u-section-3 .u-text-1 {
  font-weight: 800;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 584px;
  margin: 37px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 125px 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 335px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 186px;
  height: 186px;
  background-image: url("images/b5f9e7f9-f0cf-42fb-96c9-3156bc7d64a2.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 186px;
  height: 186px;
  background-image: url("images/13064dd8-b859-4a0d-8b5b-0944d529a9c2.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 282px;
  min-height: 260px;
  margin: -186px 0 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 300;
  font-style: normal;
  margin: 19px 0 0;
}

.u-section-3 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 37px auto 0 0;
}

.u-section-3 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-bottom: 53px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 276px;
  }

  .u-section-3 .u-image-1 {
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-group-1 {
    width: 225px;
    margin-top: -154px;
  }

  .u-section-3 .u-image-2 {
    width: 154px;
    height: 154px;
  }

  .u-section-3 .u-group-2 {
    width: 225px;
    margin-top: -154px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 576px;
  }

  .u-section-3 .u-image-1 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 237px;
    height: 237px;
    margin-right: 48px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }

  .u-section-3 .u-image-2 {
    width: 184px;
    height: 184px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 245px;
    height: 245px;
    margin-right: 55px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 555px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 80px auto -43px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 30px 106px;
}

.u-section-4 .u-text-1 {
  font-weight: 800;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-text-3 {
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 0 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  height: 251px;
  width: 299px;
  margin: 0 auto 0 72px;
}

.u-section-4 .u-image-1 {
  width: 312px;
  height: 395px;
  margin: -315px auto -64px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: -153px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 375px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 1px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 380px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -598px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 26px 10px;
  }

  .u-section-4 .u-shape-1 {
    width: 336px;
    margin-top: 64px;
  }

  .u-section-4 .u-image-1 {
    width: 285px;
    height: 376px;
    margin-top: -310px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: -653px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-4 .u-shape-1 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 375px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 236px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 40px auto 40px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(5, 20%);
  min-height: 156px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-5 .u-image-1 {
  height: 113px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 20px;
}

.u-section-5 .u-image-2 {
  height: 113px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 20px;
}

.u-section-5 .u-image-3 {
  height: 113px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 20px;
}

.u-section-5 .u-image-4 {
  height: 113px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 20px;
}

.u-section-5 .u-image-5 {
  height: 113px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 89px;
  }

  .u-section-5 .u-image-2 {
    height: 89px;
  }

  .u-section-5 .u-image-3 {
    height: 89px;
  }

  .u-section-5 .u-image-4 {
    height: 89px;
  }

  .u-section-5 .u-image-5 {
    height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  }

  .u-section-5 .u-image-1 {
    height: 120px;
  }

  .u-section-5 .u-image-2 {
    height: 120px;
  }

  .u-section-5 .u-image-3 {
    height: 120px;
  }

  .u-section-5 .u-image-4 {
    height: 120px;
  }

  .u-section-5 .u-image-5 {
    height: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 472px;
    margin: 50px auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-5 {
    height: NaNpx;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-5 .u-image-1 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-4 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 533px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1120px;
  margin: 60px auto 60px 10px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 429px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-group-1 {
  min-height: 359px;
  background-image: none;
  box-shadow: 0 0 40px 0 rgba(64,64,64,0.25);
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 94px;
  width: 94px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  line-height: 1.7;
  font-size: 1.125rem;
  margin: -42px 0 0 32px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 429px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-6 .u-line-1 {
  width: 133px;
  height: 3px;
  transform-origin: left center;
  margin: 35px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 35px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 4px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 21px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 25px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 332px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-group-1 {
    min-height: 294px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }
}.u-section-7 {
  min-height: 859px;
}

.u-section-7 .u-shape-1 {
  height: 358px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1140px;
  margin: -285px auto 0;
}

.u-section-7 .u-image-1 {
  min-height: 377px;
  background-image: url("images/listening-opinion_1098-133671.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 103px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 99px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  min-height: 381px;
  background-image: url("images/ung-worker-speaking-using-cell-phone-looking-out-window-female-having-business-call-busy-her-workplace-evening_231208-11675.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  min-height: 374px;
  background-image: url("images/close-up-businessman-writing-summary_1098-2566.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-6 {
  min-height: 106px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 106px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  min-height: 374px;
  background-image: url("images/business-desk-arrangement-with-laptop_23-2149073039.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-layout-wrap-2 {
  width: 1140px;
  margin: 40px auto 60px;
}

.u-section-7 .u-layout-cell-9 {
  min-height: 221px;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  line-height: 1.2;
  font-weight: 800;
  text-transform: none;
  background-image: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-layout-cell-10 {
  min-height: 237px;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

.u-section-7 .u-text-3 {
  letter-spacing: 1px;
  text-transform: none;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  margin-left: auto;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 321px 0 0;
  padding: 10px 44px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 805px;
  }

  .u-section-7 .u-shape-1 {
    height: 303px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -230px;
  }

  .u-section-7 .u-image-1 {
    min-height: 311px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 85px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 82px;
  }

  .u-section-7 .u-image-2 {
    min-height: 314px;
  }

  .u-section-7 .u-image-3 {
    min-height: 308px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 87px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 87px;
  }

  .u-section-7 .u-image-4 {
    min-height: 308px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 182px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-7 .u-layout-cell-10 {
    min-height: 228px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 1539px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    min-height: 476px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-7 .u-image-2 {
    min-height: 481px;
  }

  .u-section-7 .u-image-3 {
    min-height: 472px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 133px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 133px;
  }

  .u-section-7 .u-image-4 {
    min-height: 472px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 285px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 171px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 3416px;
  }

  .u-section-7 .u-shape-1 {
    height: 1172px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1099px;
  }

  .u-section-7 .u-image-1 {
    min-height: 714px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    min-height: 722px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 708px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 200px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 200px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    min-height: 708px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 100px;
    order: 0;
  }

  .u-section-7 .u-container-layout-9 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-layout-cell-10 {
    order: 1;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 2407px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    min-height: 450px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 123px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-7 .u-image-2 {
    min-height: 455px;
  }

  .u-section-7 .u-image-3 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-cell-6 {
    min-height: 126px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 126px;
  }

  .u-section-7 .u-image-4 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 651px;
}

.u-section-8 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.4;
  width: 514px;
  margin: 30px auto 0;
}

.u-section-8 .u-form-1 {
  height: 114px;
  width: 530px;
  margin: 38px auto 0;
}

.u-section-8 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-8 .u-text-3 {
  font-size: 0.875rem;
  margin: 40px auto 60px;
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-form-1 {
    width: 340px;
  }
}